body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #379975;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoContainer {
  display: flex;
  align-items: center;
}
.logoMarconi {
  width: 200px;
  height: 70px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  border: 1px solid #ccc;
  padding: 20px;
}

.project img {
  max-width: 100%;
  margin-bottom: 10px;
}

.project h2 {
  margin: 0;
}

.project p {
  margin: 10px 0;
}

#theme-logo {
  max-height: 50px;
}
